@import url('../assets/fonts/fonts.css');
@import url('../styles/root.css');

dialog img {
    width: 24px;
    height: 24px;
}

dialog {
    width: 30%;
    min-width: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

form {
    color: var(--main-color);
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 24px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    transition: font-size 0.2s;
}

form input[type='text'] {
    font-family: 'Montserrat Light', sans-serif;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px;
    transition: font-size 0.2s;
}

form .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

form button {
    border: 1px solid var(--main-color);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 22px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 30px;
    transition: font-size 0.2s;
}

form button #svg {
    filter: none;
}

form button:hover {
    background-color: var(--main-color);
    color: var(--table-bg-3);
    border: 1px solid white;
}

form button:hover #svg {
    filter: var(--svg-color);
}

table {
    margin: 0 auto;
    width: 99%;
    height: 100%;
    table-layout: fixed;
    border-spacing: 20px 10px;
}

td {
    overflow: hidden;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

tr {
    width: 100%;
}

.note-row {
    height: auto;
}

.table-header td {
    height: calc(2em + 5vh);
}

.table-header div {
    display: flex;
    align-items: center;

    height: 100%;
    padding: 5px 0;
    padding-left: 20px;

    font-size: calc(1em + 1.5vh);
    font-family: 'Montserrat Bold', sans-serif;
    border-radius: 5px;
}

.create-task td {
    height: 35px;
}

.create-task div {
    height: 100%;

    display: flex;
    align-items: center;

    padding: 5px 0;
    padding-left: 10px;

    border: 1px solid var(--extra-color);
    fill: var(--extra-color);
    border-radius: 5px;

    transition: border-color 0.2s ease, fill 0.2s ease;
}

.create-task div input {
    height: 90%;
    width: 90%;
    border: none;

    padding: 0 5px;

    font-size: 90%;
    font-family: 'Montserrat Regular', sans-serif;
}

.create-task div input:focus {
    outline: none;
}

.create-task div:focus-within {
    border-color: var(--third-color);
    fill: var(--third-color);
}

.create-task svg {
    height: 24px;
    width: 24px;
}

td ul {
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
}

.table-tasks-col div {
    background-color: #D87093;
}

.table-work-col div {
    background-color: var(--table-bg-2);
}

.table-complete-col div {
    background-color: var(--table-bg-3);
}